In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv('ac.csv')
df.head()

  instant\tdteday\tseason\tyr\tmnth\tholiday\tweekday\tworkingday\tweathersit\ttemp\tatemp\thum\twindspeed\tcasual\tregistered\tcnt
0  1\t01-01-2011\t1\t0\t1\t0\t6\t0\t2\t0.344167\t...
1  2\t02-01-2011\t1\t0\t1\t0\t0\t0\t2\t0.363478\t...
2  3\t03-01-2011\t1\t0\t1\t0\t1\t1\t1\t0.196364\t...
3  4\t04-01-2011\t1\t0\t1\t0\t2\t1\t1\t0.2\t0.212...
4  5\t05-01-2011\t1\t0\t1\t0\t3\t1\t1\t0.226957\t...

In [5]:
df.describe()

       instant\tdteday\tseason\tyr\tmnth\tholiday\tweekday\tworkingday\tweathersit\ttemp\tatemp\thum\twindspeed\tcasual\tregistered\tcnt
count                                                 731
unique                                                731
top     284\t11-10-2011\t4\t0\t10\t0\t2\t1\t2\t0.56666...
freq                                                    1